.bb{
	width: auto;
	margin: 20px auto 20px auto;
	margin-left: 39px;
	margin-right: 29px;
	background-color: #ffffff;
	border: 2px solids #000000;
}
.First{

		 background-color:grey;
		 font-size: 15px;
    text-align:left;
		}
.d{
     border-right: 1px solid grey;
		 background-color: white;
}
.second{
	height: 30px;
	background-color:grey;
}
.p{
	position: absolute;
	left:70%;
	top:33%;
	width:20%;
	height: 20%;
	background-color: white;
}
