.First{
		 
		 
		 height:60px;
		 width:10px;
		 position:absolute;
		 left:450px;
		 top:50px;
		 border:5px solid white;
		 padding-bottom:100px;
		 padding-left:200px;
		 padding-right:200px;
		 padding-top:200px;
		 background-color:white;
		 border-radius:20%;
		 text-align:center;
		 
		}
  body{

	  background-size:100%;
	  background-image:url("https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80");
	  background-repeat:no-repeat;
  }
  form{
	  position:absolute;
	  top:20px;
	  left:130px;  
  }
  #button{
	  border-radius:19px;
	  width:150px;
  }
  #one{
	  text-align:center;
	  border-radius:19px;
	  border-color:grey;
	  height:30px;
	  
  }
  #pass{
	 text-align:center;
	 border-radius:19px;
	 border-color:grey;
	 height:30px;
  }
  #two{
	  
	  text-decoration:none;
  }